:root {
  --dark-blue: #1d1f30;
  --blue: #242639;
  --red: #e84250;
  --rose: #e31b6d;
  --white: white;
  --green: #00feba;
  --yellow: #F4D06F;
  --almond: #7a7673;

  --typewriterSpeed: 2s;
  --typewriterCharacters: 23;
}


html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
  color: var(--white);
}

.bg-dark-blue {
  background-color: var(--dark-blue);
}

.color-red {
  color: var(--red);
}

.color-rose {
  color: var(--rose);
}

.color-yellow {
  color: var(--yellow)
}

.color-almond {
  color: var(--almond)
}

.color-white {
  color: var(--white)
}

.main-content {
  padding: 6em 50px;
}

@media (min-width: 1024px) {
  .main-content {
    padding: 12em 200px;
  }
}

@media (min-width: 1920px) {
  .main-content {
    padding: 12em 400px;
  }
}


.navbar-scrolled {
  background-color: var(--dark-blue);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}