:root {
  --dark-blue: #202235;
  --blue: #242639;
  --red: #e84250;
  --white: #ffffff;
  --yellow: #F4D06F;
}


html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  font-family: 'Noto Sans', sans-serif;
  color: var(--white);
}

.bg-dark-blue {
  background-color: var(--dark-blue);
}

.color-red {
  color: var(--red);
}

.color-yellow {
  color: var(--yellow)
}

.main-content {
  padding: 0 50px;
}

@media (min-width: 1024px) {
  .main-content {
    padding: 0 200px;
  }
}

@media (min-width: 1920px) {
  .main-content {
    padding: 0 400px;
  }
}


.navbar-scrolled {
  background-color: var(--dark-blue);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}