:root {
  --background: #050517;
  --highlight-background: #EFC88B;
  --title: #CF5C36;
  --text: #D3D5D7;
  --link: #F4E3B2;
  --white: white;
  --red: #e84250;

  --rose: #e31b6d;
  --green: #419D78;
  /* --green: #FFD447; */

  --yellow: #F4D06F;
  --almond: #7a7673;

  --typewriterSpeed: 2s;
  --typewriterCharacters: 23;

  --navbar-height: 4em;
}


html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Nunito', sans-serif;
  color: var(--background);
  scroll-behavior: smooth;
}

#__next {
  height: 100%;
}

.bg-dark-blue {
  background-color: var(--background);
}

.color-red {
  color: var(--red);
}

.color-rose {
  color: var(--rose);
}

.color-yellow {
  color: var(--yellow)
}

.color-almond {
  color: var(--almond)
}

.color-white {
  color: var(--white)
}

.main-content {
  padding-left: 50px;
  padding-right: 50px;
}

@media (min-width: 1024px) {
  .main-content {
    padding-right: 200px;
    padding-left: 200px;
  }
}

@media (min-width: 1920px) {
  .main-content {
    padding-left: 400px;
    padding-right: 400px;
  }
}


.navbar-scrolled {
  background-color: var(--highlight-background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}