.container {
  text-align: left;
  padding: 2em 50px;
  background-color: floralwhite;
}


@media (min-width: 1024px) {
  .container {
    padding: 2em 200px;
  }
}

@media (min-width: 1920px) {
  .container {
    padding: 2em 400px;
  }
}


#titleName {
  margin: 0;
}

.mainLine {
  width: 100%;
  color: red;
}

.sectionTitle {
  color: #e64d57;
}

.personalData {
  font-size: 16px;
  padding-left: 1em;
  display: flex;
  flex-direction: column;
  gap: .25em;
}

.personalData li {
  list-style-type: none;
}

#profile-pic {
  width: 220px;
  height: 220px;
  margin: 10px 10px;
}



.paragraph,
.listItem {
  line-height: 22px;
  color: #302f2f;
}

.listItem>span {
  display: flex;
  align-items: center;
  gap: .5em;
  line-height: 25px;
}

.listItem>span>img {
  height: 14px;
  width: 16px;
  margin-right: 10px;
}

.link {
  text-decoration: none;
  color: darkred;
}