.container {
  text-align: left;
  margin: 0 50px;
}

@media (min-width: 1024px) {
  .container {
    margin: 0 200px;
  }
}

@media (min-width: 1920px) {
  .container {
    margin: 0 400px;
  }
}

.main-line {
  width: 100%;
  color: red;
}

.personal-data {
  font-size: 16px;
}

#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

#header-container li {
  list-style-type: none;
}

#main-data {
  color: black;
}

#profile-pic {
  width: 220px;
  height: 220px;
  margin: 10px 10px;
}

.section-title {
  color: #e64d57;
}
