@import './breakpoints.module.scss';

.nav {
  z-index: 1;
  font-size: 1rem;
  font-weight: bold;
  color: var(--olive);
  width: 100%;
  position: fixed;
  top: 0;
  height: 4em;
  display: flex;
  justify-content: center;

  @include sm-screen {
    padding: 0 50px;
  }

  @include md-screen {
    padding: 0 200px;
    justify-content: flex-end;
  }

  @include lg-screen {
    padding: 0 400px;
  }

  ul {
    display: flex;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    display: flex;
    align-items: center;

    a {
      color: var(--green);
      padding: 0.5em;
      background-color: transparent;

      &:hover {
        text-decoration: underline;
        backdrop-filter: opacity(80%);
      }
    }

  }
}